[jumpbox]
${ansibleJumpbox} ansible_ssh_private_key_file=../priv.key

[KControllers]
%{ for index, ip in ansibleKControllers ~}
kcontroller${index} ansible_host=${ip}
%{ endfor ~}

[KWorkers]
%{ for index, ip in ansibleKWorkers ~}
kworker${index} ansible_host=${ip}
%{ endfor ~}
