Host 10.10.*.*
     ProxyCommand ssh -W %h:%p ${admin_username}@${bastion}
     IdentityFile ../priv.key

Host ${bastion}
     Hostname ${bastion}
     User ${admin_username}
     IdentityFile ../priv.key
     ControlMaster auto
     ControlPath ansible-%r@%h:%p
     ControlPersist 5m
