Host 10.10.*.*
     IdentityFile ../priv.key
     ProxyJump ${bastion}
     StrictHostKeyChecking no

Host ${bastion}
     Hostname ${bastion}
     User ${admin_username}
     IdentityFile ../priv.key
     StrictHostKeyChecking no
     ControlMaster auto
     #ControlPath ansible-%r@%h:%p
     ControlPersist 5m
