Host 10.10.10.*
     ProxyCommand ssh -W %h:%p ${adminUsername}@${ansibleJumpbox}
     IdentityFile ../priv.key

Host ${ansibleJumpbox}
     Hostname ${ansibleJumpbox}
     User ${adminUsername}
     IdentityFile ../priv.key
     ControlMaster auto
     ControlPath ansible-%r@%h:%p
     ControlPersist 5m
